<br><br>
<div class="mx-auto justify-content-center", style="width: 500px;">
<h1>プロジェクトの詳細</h1>
<p class="fs-4">プロジェクト名:<%= @project.name %></p>
<p class="fs-4">プロジェクト内容:<%= @project.description %></p>
<p class="fs-4">開始日:<%= @project.start_date.strftime("%Y-%m-%d") %></p>
<p class="fs-4">終了日:<%= @project.end_date.strftime("%Y-%m-%d") %></p>
</div>