<br><br>
<div class="mx-auto dflex justify-content-center" style="width: 400px;">
<h1>メンバー（一覧）</h1>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @team.members.each do |member| %>
        <tr>
          <td><%= member.id %></td>
          <td><%= member.name %></td>
          <td><%= member.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>