<br><br>
<div class="container" id="members">
<h1 class="text-center">メンバー（一覧）</h1>
  <table class="table" id="index-tables">
    <thead>
      <tr>
        <th>#</th>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% @team.members.each do |member| %>
        <tr>
          <td data-title="#"><%= @count+=1 %></td>
          <td data-title="氏名"><%= member.name %></td>
          <td data-title="メールアドレス"><%= member.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>
